html{
    margin: 0;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}
span{
    display: block;
}
.canvas{
    margin: 100px auto 100px; /*upar 100px, Auto is for centering, neeche 100px 8*/
    width: 80%;
    text-align: center;
}

.button{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
}

#Red{
    background-color: rgb(77, 5, 5);
}
#Blue{
    background-color: rgb(1, 1, 67);
}
#Green{
    background-color: rgb(6, 66, 6);
}
#Yellow{
    background-color: rgb(79, 79, 3);
}