body{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.row{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.input{
    height: 20px;
    margin-left: 5px;
}

.result{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.calculate-button{
    padding: 10px 40px 10px 40px;
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: 0.15s;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
    display: block;
    margin-bottom: 20px;
}

.calculate-button:hover{
    color: black;
    background-color: white;
}
.calculate-button:active{
    color: white;
    background-color: black;
}
input:focus{
    outline: none;
    box-shadow: 0 0 3px #0a1c2e;
}
h2,h3{
    margin: 10px;
}

#final-output{
    padding: 5px 7px 5px 7px;
}